<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('templates/head') %>
  </head>
  <body>
    <div class="d-flex min-vh-100">
      <aside class="flex-shrink-0" style="width: 280px">
        <%- include('sidebar') %>
      </aside>
      <main class="flex-grow-1 p-4"><%- include('sueldos') %></main>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
